.main-bg {
	position: relative;
	height: 100%;
	min-height: 100vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../Images/forgotpass-bg.jpg") no-repeat;
	background-size: cover;
}
.main-bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-color: black;
  }

.f-contents{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.f-contents-left img{
	width: 550px;
	border-radius: 30px;
}

.f-contents-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	border-radius: 0px 20px 20px 0px;
	background-color: white;
}
.f-contents-right img{
	width: 350px;
}
.f-contents-right h3{
	text-align: center;
	color: var(--primary-color);
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.f-contents-right a{
	margin-top: 1rem;
}
.fm {
	width: 100% !important;
}

@media screen and (max-width: 1020px) {
	.f-contents-left img{
		width: 350px;
		border-radius: 20px;
	}
	.f-contents-right img{
		width: 150px;
	}
	.f-contents-right{
		align-items: center;
		padding: 1rem;
		min-width: 300px;
		width: auto;
		box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
		border-radius: 0px 20px 20px 0px;
		background-color: white;
	}
	.f-contents-right h3{
		margin-top: 0.8rem;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
}
@media screen and (max-width: 675px) {
	.f-contents-left img{
		width: 330px;
		border-radius: 17px;
	}
	.f-contents-right img{
		width: 120px;
	}
	.f-contents-right{
		padding: 0.8rem;
		min-width: 250px;
	}
	.f-contents-right h3{
		margin-top: 0.6rem;
		margin-bottom: 0.4rem;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 592px) {
	.f-contents{
		flex-direction: column;
	}
	.f-contents-left img{
		width: 250px;
		border-radius: 15px 15px 0 0;
	}
	.f-contents-right img{
		width: 120px;
	}
	.f-contents-right{
		align-items: center;
		padding: 1rem;
		min-width: 250px;
		width: auto;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
		border-radius: 0px 00px 15px 15px;
		background-color: white;
	}
	.f-contents-right h3{
		margin-top: 0.6rem;
		margin-bottom: 0.4rem;
		font-size: 0.8rem;
	}
}