.home {
	position: relative;
	background-image: url("../Images/1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: row;
	gap: 5rem;
	align-items: center;
	justify-content: center;
  }

  .home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.426); 
	z-index: 0; 
  }

  .home-left{
	background: var(--sub-color);
	z-index: 2;
	padding: 30px;
	border-radius: 20px;
	min-height: 20rem;
	box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5); 
  }

  .home-left h2{
	text-align: center;
	margin-bottom: 1rem;
	color: var(--primary-color);
	font-size: 3rem;
  }

  .event-table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .event-table th, .event-table td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  
  .event-table th {
	background-color: #f2f2f2;
  }
  
  .event-table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
  }


  .home-right{
	display: flex;
	flex-direction: column;
	background: var(--sub-color);
	z-index: 2;
	gap: 1.7rem;
	padding: 30px;
	min-height: 20rem;
	min-width: 20rem;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5); 
  }

  .home-right h2{
	margin-bottom: 0.5rem;
	color: var(--primary-color);
	font-size: 2rem;
  }

  .home-right h3{
	margin-bottom: 0.3rem;
	color: black;
	font-size: 1.8rem;
  }

  .land-btn{
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	width: 100%;
  }

  .land-btn a{
	padding: 10px;
	min-width: 15rem;
	text-align: center;
	background: var(--primary-color);
	color: var(--sub-color);
	border-radius: 10px;
	transition: all .38s ease;
  }

  .land-btn a:hover {
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  }

  @media screen and (max-width: 1035px) {
	.home {
		flex-direction: column-reverse;
		height: auto;
		padding-top: 150px;
		padding-bottom: 50px;
	}
}
  @media screen and (max-width: 620px) {
	.home-left h2{
		font-size: 2rem;
	}
	.home-right h2{
		font-size: 2rem;
	}
	.home{
		padding: 150px 10px 30px 10px;
	}
}

